@font-face {
    font-family: 'gt_walsheim_trialbold';
    src: url("./fonts/gt-walsheim-pro-trial-bold-webfont.woff2") format("woff2"), url("./fonts/gt-walsheim-pro-trial-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  /* HTML */
  * {
    box-sizing: border-box;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  
  body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #1CFF1B,#FF5128, #9422E8, #1EC0FF);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; }
  
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%; }
    50% {
      background-position: 100% 50%; }
    100% {
      background-position: 0% 50%; } }
  button {
    cursor: pointer; }
  
  h1 {
    
color:white; }
  

header, #gif-buttons {
    margin-bottom: 1%;
}



#add-gif {
    background-color: #eba23c;
    cursor: pointer;
    border-color:white;
}

.giphy {
    cursor: pointer;
}

.gif {
    cursor: pointer;
}

p {
    text-transform: uppercase;
    padding-left: 1%;
}

.giphy {
    margin-right: 1%;
    margin-bottom: 1%;
    border-color:white;
    background: white;
    color:purple;
}
.gifDiv {
    margin-right: 1%;
}

.rating{
    
    color: white;
}


/*
These rules take effect when the browser's width
is either 768px or less.
*/

@media screen and (max-width: 768px) {

.gif {
    width: 100%;
}

#add-gif {
    margin-left: 15px;
}

}